<ion-app>
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list style = "padding:0!important; margin-top:-10px">
        <ion-menu-toggle auto-hide="true">
          <ion-item style = "cursor:pointer" *ngFor="let page of appPages"
          routerDirection="forward"
          [hidden]="!page.enable" (click) = "openPage(page)">
            <ion-icon [name]="page.icon" slot="start" [style.color]="page.iconColor"></ion-icon>
            {{page.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main id="main-content"></ion-router-outlet>
</ion-app>
