$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  yellow:     #ffae00,
  offline:    #bbbbbb,
  warm:       #ff9432,
  good:       #2cdd00,
  medium:     #faf001,
  bad:        #ff0d0d,
  background: #7dd0ff,
  blue:       #0233c4,
  menu:       #35bff2,
  inactive:   #818181,
  tool:       #757575,
  active:     limegreen,
  selected:   #530dff
);





